/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin toystore {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /* Insert your theme rules here */
  
  .v-table-cell-content {
	    vertical-align: middle;
	}
	
	.productname {
		color: #0099CC;
		font-size: 15px;
	}
	
	
	.store_header
	{
		width: 100%;
		background-color: #FFF;
		border-bottom:3px #000 solid;
		padding: 10px 25px;
		font-size: 25px;
		color: #09C;
	}
	
	.store_header h1
	{
		margin: 15px;
	}
	
	.store_header h2
	{
		font-size: 15px;
		margin-top: 0;
		margin-left: 15px;
	}
	
	.v-table-body-wrapper
	{
		height: auto!important;
	}
	
	
	.v-table input.v-textfield.v-widget
	{
		width: 100%;
	}
	
	.paging .v-errorindicator
	{
		display:none;
	}
}